In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('salary_data_cleaned.csv')

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Country,Headquarters,Size,Founded,...,max_salary,avg_salary,company_txt,age,pmp_yn,agile_yn,excel,primavera,job_simp,seniority
0,Digital Project Manager,CA$30k-CA$61k (Glassdoor Est.),As a Digital Project Manager at Thinkwell Stud...,3.4,Thinkwell Group\n3.4,Montreal,Canada,"Los Angeles, CA",51 to 200 employees,2001,...,61,45.5,Thinkwell Group\n,19,1,1,1,0,na,na
1,Construction Project Coordinator - Low Rise,CA$30k-CA$61k (Glassdoor Est.),"Saturday, May 9, 2020\n\nWe are proud to be on...",4.5,Empire Communities\n4.5,Niagara Falls,Canada,"Vaughan, Canada",501 to 1000 employees,1993,...,61,45.5,Empire Communities\n,27,0,0,1,0,na,na
2,Project Manager Housing Development,CA$30k-CA$61k (Glassdoor Est.),Temporary Duration: 24 months\nSalary Range: $...,-1.0,Niagara Regional Housing,Thorold,Canada,"Thorold, Canada",51 to 200 employees,-1,...,61,45.5,Niagara Regional Housing,-1,0,0,1,0,na,na
3,Construction Quality Assurance Technician,CA$30k-CA$61k (Glassdoor Est.),"Saturday, May 9, 2020\n\nWe are proud to be on...",4.5,Empire Communities\n4.5,Niagara Falls,Canada,"Vaughan, Canada",501 to 1000 employees,1993,...,61,45.5,Empire Communities\n,27,0,0,1,0,na,na
4,Site Manager,CA$30k-CA$61k (Glassdoor Est.),Site Manager\n# of openings\n\n1\n\nCity\n\n\n...,4.3,StorageMart\n4.3,Toronto,Canada,"Columbia, MO",501 to 1000 employees,1999,...,61,45.5,StorageMart\n,21,0,0,1,0,na,na

In [4]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Country', 'Headquarters', 'Size',
       'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'Competitors', 'hourly', 'employer_provided', 'min_salary',
       'max_salary', 'avg_salary', 'company_txt', 'age', 'pmp_yn', 'agile_yn',
       'excel', 'primavera', 'job_simp', 'seniority'],
      dtype='object')

In [5]:
def title_simplifier(title):
    if 'construction manager' in title.lower():
        return 'construction manager'
    elif 'project manager' in title.lower():
        return 'porject manager'
    elif 'construction manager' and 'project' in title.lower():
        return 'construction manager'
    elif 'project coordinator' in title.lower():
        return 'project coordinator'
    elif 'internship' in title.lower():
        return 'internship'
    elif 'superintendent' in title.lower():
        return 'construction manager'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'
		
## Job title and seniority 
		
##  Fix state Los Angeles 

##  Job description length 

##  Competitor count

## hourly wage to annual 

#remove new line from job title

In [6]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)

In [7]:
df.job_simp.value_counts()

porject manager         645
na                      148
construction manager    105
internship                2
Name: job_simp, dtype: int64

In [8]:
df['seniority'] = df['Job Title'].apply(seniority)
df.seniority.value_counts()

na        792
senior    106
jr          2
Name: seniority, dtype: int64

In [9]:
#  Job description length 
df['desc_len'] = df['Job Description'].apply(lambda x: len(x))
df['desc_len']

0      2704
1      2642
2      5205
3      3218
4      2074
       ...
895    7057
896    2244
897    2241
898    5930
899    6195
Name: desc_len, Length: 900, dtype: int64

In [10]:
#Competitor count
df['num_comp'] = df['Competitors'].apply(lambda x: len(x.split(',')) if x != '-1' else 0)

In [11]:
df['Competitors']

0                                                  -1
1                                                  -1
2                                                  -1
3                                                  -1
4      Public Storage, Extra Space Storage, CubeSmart
                            ...
895                                                -1
896                                                -1
897                                                -1
898                                                -1
899                                                -1
Name: Competitors, Length: 900, dtype: object

In [12]:
#hourly wage to annual 

#df['min_salary'] = df.apply(lambda x: x.min_salary*2 if x.hourly ==1 else x.min_salary, axis =1)
#df['max_salary'] = df.apply(lambda x: x.max_salary*2 if x.hourly ==1 else x.max_salary, axis =1)

In [13]:
#df[df.hourly ==1][['hourly','min_salary','max_salary']]

In [14]:
df['company_txt'] = df.company_txt.apply(lambda x: x.replace('\n', ''))

In [45]:
df['company_txt']

0               Thinkwell Group
1            Empire Communities
2      Niagara Regional Housing
3            Empire Communities
4                   StorageMart
                 ...
895                   TC Energy
896           United Landscapes
897       RailWorks Corporation
898          Innomar Strategies
899                 Ocado Group
Name: company_txt, Length: 900, dtype: object

In [33]:
from geopy import geocoders
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="data_cleaning")
location = geolocator.geocode('Oakville', 'Canada')
location

Location(Oakville, Halton Region, Golden Horseshoe, Ontario, L6J 1J1, Canada, (43.447436, -79.666672, 0.0))

In [29]:
'''Extracting latitude and longitude of locations'''
lat=[]
long=[]
for index, row in df.iterrows():
    geo= geolocator.geocode(row['Location'],row['Country'])
    lat.append(geo.latitude)
    long.append(geo.longitude)
df['Latitude']= lat
df['Longitude']=long

In [34]:
df.describe()

,Rating,Founded,hourly,employer_provided,min_salary,max_salary,avg_salary,age,pmp_yn,agile_yn,excel,primavera,desc_len,num_comp,Latitude,Longitude
count,900.000000,900.000000,900.0,900.0,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,2.280778,922.850000,0.0,0.0,67.800000,100.066667,83.933333,23.243333,0.251111,0.081111,0.630000,0.016667,3455.587778,0.307778,45.755962,-78.659839
std,2.261453,984.241855,0.0,0.0,26.848232,29.764295,25.888032,39.544932,0.433893,0.273157,0.483073,0.128090,1772.030552,0.859253,10.463373,42.816038
min,-1.000000,-1.000000,0.0,0.0,30.000000,58.000000,45.500000,-1.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,-36.598610,-136.002502
25%,-1.000000,-1.000000,0.0,0.0,45.000000,78.000000,66.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,2194.000000,0.000000,43.653482,-107.991707
50%,3.300000,-1.000000,0.0,0.0,64.000000,91.000000,76.000000,-1.000000,0.000000,0.000000,1.000000,0.000000,3213.500000,0.000000,45.497216,-79.439392
75%,4.000000,1982.000000,0.0,0.0,88.000000,122.000000,99.500000,31.000000,1.000000,0.000000,1.000000,0.000000,4449.000000,0.000000,49.320713,-75.690308
max,5.000000,2019.000000,0.0,0.0,135.000000,177.000000,156.000000,355.000000,1.000000,1.000000,1.000000,1.000000,16405.000000,4.000000,63.000147,151.216454

In [35]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Country', 'Headquarters', 'Size',
       'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'Competitors', 'hourly', 'employer_provided', 'min_salary',
       'max_salary', 'avg_salary', 'company_txt', 'age', 'pmp_yn', 'agile_yn',
       'excel', 'primavera', 'job_simp', 'seniority', 'desc_len', 'num_comp',
       'Latitude', 'Longitude'],
      dtype='object')

In [42]:
from wordcloud import WordCloud, ImageColorGenerator, STOPWORDS
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [43]:
words = " ".join(df['Job Description'])

def punctuation_stop(text):
    """remove punctuation and stop words"""
    filtered = []
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(text)
    for w in word_tokens:
        if w not in stop_words and w.isalpha():
            filtered.append(w.lower())
    return filtered


words_filtered = punctuation_stop(words)

text = " ".join([ele for ele in words_filtered])

wc= WordCloud(background_color="white", random_state=1,stopwords=STOPWORDS, max_words = 2000, width =800, height = 1500)
wc.generate(text)

plt.figure(figsize=[10,10])
plt.imshow(wc,interpolation="bilinear")
plt.axis('off')
plt.show()

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - '/Users/shaki/nltk_data'
    - '/Users/shaki/opt/anaconda3/envs/ss/nltk_data'
    - '/Users/shaki/opt/anaconda3/envs/ss/share/nltk_data'
    - '/Users/shaki/opt/anaconda3/envs/ss/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
**********************************************************************

In [44]:
df.to_csv('eda_data.csv')